<div class="searchbar-container">
  <h1>Tenant Overview</h1>
  <div class="stats-container">
    <h3>Number of tenants: {{ users$.length }}</h3>
  </div>

  <div class="search-items-wrapper">
    <mat-form-field
      appearance="outline"
      class="search-form-field"
      id="search-form"
    >
      <mat-label>Search Tenant</mat-label>
      <input
        matInput
        type="search"
        [(ngModel)]="searchText"
        (input)="applyFilter()"
      />
    </mat-form-field>
  </div>
</div>

<mat-card class="table-wrapper">
  <div class="table-scroll">
    <table class="user-table" style="width: 100%;">
      <tr>
        <th>No.</th>
        <th>Name</th>
        <!-- <th>Company Description</th> -->
        <th>Allowed Disk Space</th>
        <th>Validity</th>
        <th>Allowed Users</th>
        <th>Website</th>
        <th>Status</th>
        <th></th>
      </tr>
  
      <tr
        class="data-row"
        *ngFor="let user of filteredUsers; let i = index"
        #dataRow
        [routerLink]="['/details', user.id]"
      >
        <td>{{ i + 1 }}</td>
        <td class="name-sec">
          <div class="name-div">
            <div class="name-name">
              {{ user.name }}
            </div>
            <div class="name-dis">
              {{ user.companyDescription}} 
              <a class="edit-link" (click)="openEditDesDialog(user.id); $event.stopPropagation()"><mat-icon>edit</mat-icon></a>
            </div>
          </div>
          <!-- <td>
          </td> -->
        <td class="send-mail">
          {{ user.allowedDiskSpace }} GB
          <a class="edit-link" (click)="openEditDiskSpDialog(user.id); $event.stopPropagation()"><mat-icon class="edit-icon">edit</mat-icon></a>
        </td>
        <td>{{ user.endDate | date:'shortDate' }}
          <a class="edit-link" (click)="openEditValDialog(user.id); $event.stopPropagation()"><mat-icon class="edit-icon">edit</mat-icon></a>
        </td>
        <td>{{ (user.mobileUserCount + user.webUserCount + user.bothUserCount) || '0' }}
          <a class="edit-link" (click)="openEditUserDialog(user.id); $event.stopPropagation()"><mat-icon class="edit-icon">edit</mat-icon></a>
        </td>
        <td>
          <a class="web-link" href="{{ user.website }}" target="_blank">{{ user.website }}</a>
          <a class="edit-link" (click)="openEditWebDialog(user.id); $event.stopPropagation()">
            <mat-icon class="edit-icon">edit</mat-icon>
          </a>
        </td>
        <td>
          <p> {{ user?.isActive ? 'Active' : 'Inactive' }}</p>
        </td>
  
        <td>
          <mat-menu #editMenu="matMenu">
            <button mat-menu-item (click)="openEditDialog(user.id)">Edit Branding</button>
            <button mat-menu-item (click)="openAdminDialog(user.id)">Add Admin</button>
            <button mat-menu-item (click)="DeleteTenant(user.id)">Delete Tenant</button>
            <button mat-menu-item (click)="toggleStatus(user.id, user.isActive)">Toggle Status</button>
          </mat-menu>
        
          <button mat-icon-button [matMenuTriggerFor]="editMenu" (click)="$event.stopPropagation()">
            <mat-icon>more_vert</mat-icon>
          </button>
        </td>
      </tr>
    </table>

  </div>
</mat-card>
<button
  (click)="openDialog()"
  mat-fab
  id="add-user-btn"
  matTooltip="Add new Tenant Account"
>
  <mat-icon class="add-icon">add</mat-icon>
</button>

